footer {
  font-size: var(--text--font-sm);
  border-top: var(--color--text) 4px solid;
  padding-bottom: 6px;
  margin: 0 var(--layout--gutter-xl);

  a {
    text-decoration-thickness: 1px;
    text-underline-offset: 2px;
  }
}
