footer {
  font-size: var(--text--font-sm);
  border-top: var(--color--text) var(--layout--border-width-sm) solid;
  margin: 0 var(--layout--gutter-xl);
  padding-bottom: 11px;

  p {
    text-wrap: auto;
  }
}
