.faqs {
  padding: var(--layout--gutter-xl) 0;

  details {
    text-align: left;

    /* Headline */
    summary {
      display: flex;
      align-items: center;
      gap: 10px;
      cursor: pointer;
      text-transform: uppercase;
      padding: 12px 0 10px;

      @media screen and (min-width: 768px) {
        gap: var(--layout--gutter-lg);
      }

      &::marker {
        content: "";
      }

      .caret {
        flex-shrink: 0;
        width: 24px;
        transform: translateY(-3px);
        transform-origin: center;
        transition: transform 300ms var(--animate--ease);

        @media screen and (min-width: 768px) {
          width: 32px;
        }
      }

      h3 {
        margin: 0;
        padding-block: 10px;
      }
    }

    /* Reveal Container */
    .container {
      padding-block-start: 5px;
      padding-inline-start: 34px;

      @media screen and (min-width: 768px) {
        padding-inline-start: 60px;
      }

      .answer {
        position: relative;
        font-size: var(--text--font-sm);

        @media screen and (min-width: 768px) {
          font-size: 1.1rem;
        }

        p {
          text-wrap: wrap;
          margin-inline-start: 0;

          &:first-of-type {
            margin-block-start: 0;
          }
        }
      }

      .img-wrapper {
        column-count: 2;
        column-gap: 8px;
        padding-block-start: var(--layout--gutter);
        padding-block-end: 45px;

        @media screen and (min-width: 768px) {
          column-count: 3;
          column-gap: 15px;
        }

        @media screen and (min-width: 1079px) {
          column-count: 4;
        }

        figure {
          display: inline-block;
          margin: 0 0 16px 0;

          @media screen and (min-width: 768px) {
            display: inline-block;
            margin-block: 0;
          }
        }

        &-inline-photo {
          * {
            display: inline-block;
            vertical-align: top;
          }

          p {
            margin-right: 15px;
          }

          img {
            max-width: 180px;
          }
        }
      }
    }

    &[open] {
      .caret {
        transform: rotate(90deg) translateY(-3px);
      }
    }
  }
}
