.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 85px 0 50px;

  @media screen and (min-width: 768px) {
    min-height: calc(100vh - var(--layout--gutter));
    margin-block-end: 25vh;
    padding-block: 0;
  }

  h2 {
    display: block;
    position: relative;
    width: 90vw;
    aspect-ratio: 1.75;
    font-weight: normal;

    .script {
      font-size: 28vw;
    }

    *:not(.script) {
      font-size: 5vw;
    }

    .group {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      transform: translate(3%, -1.5%);
    }

    .text {
      display: block;
      position: absolute;

      &--jt {
        top: -2.5vw;
        left: 12vw;
        transform: rotate(-4deg);
      }

      &--and {
        top: 11vw;
        left: 46vw;
      }

      &--karly {
        top: 12.5vw;
        left: 21vw;
        transform: rotate(-12deg);
      }

      &--married {
        top: 42.75vw;
        left: 50%;
        transform: translateX(-50%);
        white-space: nowrap;
      }
    }
  }
}
