.hero {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100dvh - var(--layout--gutter));
  padding-block: 0;

  // TEMP:
  @media screen and (min-width: 768px) {
    transform: scale(0.75);
    transform-origin: center;
  }

  h2 {
    display: block;
    position: relative;
    width: 90vw;
    aspect-ratio: 1.75;
    font-weight: 400;

    .script {
      font-size: 28vw;
    }

    *:not(.script) {
      font-size: 5vw;
    }

    .group {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      transform: translate(3%, -1.5%);
    }

    .text {
      display: block;
      position: absolute;

      &--jt {
        top: -2.5vw;
        left: 12vw;
        transform: rotate(-4deg);
      }

      &--and {
        top: 11vw;
        left: 46vw;
      }

      &--karly {
        top: 12.5vw;
        left: 21vw;
        transform: rotate(-12deg);
      }

      &--married {
        top: 42.75vw;
        left: 50%;
        transform: translateX(-50%);
        white-space: nowrap;
      }
    }
  }
}

.hero-img {
  margin-bottom: 15vh;
  padding-inline: var(--layout--gutter);
}
