.intro {
  padding-block-start: 15vh;

  p {
    display: block;
    position: relative;
    font-size: var(--text--font-md);
    line-height: 1.3;
    margin: 0 0 20px;
    padding: 0 var(--layout--gutter);

    @media screen and (min-width: 768px) {
      font-size: 4.5vw;
    }

    & > span {
      display: block;
    }

    .script {
      font-size: 1.9rem;
      line-height: 1;

      @media screen and (min-width: 768px) {
        font-size: 8vw;
      }
    }
  }

  .img-wrapper {
    display: block;
    position: relative;
    margin-bottom: 0;

    @media screen and (max-width: 767px) {
      aspect-ratio: 1.5;

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      &--hotel-slo img {
        object-position: 45% 50%;
      }

      &--monday-club img {
        object-position: 35% 50%;
      }
    }
  }

  /* Wedding */
  &.intro--wedding {
    p > span {
      &:nth-child(2) {
        transform: translateY(-0.6vw);
      }

      &:nth-child(3) {
        transform: translateY(-0.5vw);
      }

      &:last-child {
        transform: translateY(0.2vw);
      }
    }
  }

  /* Reception */
  &.intro--reception {
    p > span {
      &:nth-child(2) {
        transform: translateY(-0.6vw);
      }
    }
  }
}
