.intro {
  padding-top: clamp(135px, 128.8636px + 1.7045vw, 150px);

  p {
    display: block;
    position: relative;
    font-size: var(--text--font-lg);
    line-height: 1.3;
    margin: 0 0 20px;
    padding: 0 var(--layout--gutter);

    @media screen and (min-width: 768px) {
      font-size: 4.5vw;
    }

    & > span {
      display: block;
    }

    .script {
      font-size: 1.7rem;
      line-height: 1;
      white-space: nowrap;

      @media screen and (min-width: 768px) {
        font-size: 8vw;
      }
    }

    a {
      text-decoration: none;
      transition: opacity 300ms ease-in-out;

      &:hover {
        opacity: 0.5;
      }
    }
  }

  .img-wrapper {
    display: block;
    position: relative;
    margin-bottom: 0;
  }

  /* Wedding */
  &.intro--wedding {
    p > span {
      &:nth-child(2) {
        transform: translateY(-0.6vw);
      }

      &:nth-child(3) {
        transform: translateY(-0.5vw);
      }

      &:last-child {
        transform: translateY(0.2vw);
      }
    }
  }

  /* Reception */
  &.intro--reception {
    p > span {
      &:nth-child(2) {
        transform: translateY(-0.6vw);
      }
    }
  }
}
