photo-gallery {
  .main__slide {
    margin-top: 5px;

    &__photo {
      aspect-ratio: 1.5;
      width: 100%;
      object-fit: contain;
      object-position: center bottom;
      margin-block: var(--layout--gutter);
    }
  }

  .thumb__slide {
    overflow: hidden;
    transition: opacity 200ms linear;
    opacity: 0.65;

    &__photo {
      aspect-ratio: 1 / 1;
      width: 100%;
      object-fit: cover;
      object-position: center;
      transition: transform 200ms var(--animate--ease);
    }

    &.is-active {
      opacity: 1;
      padding: 3px;
    }

    &:hover {
      opacity: 1;

      &:not(.is-active) .thumb__slide__photo {
        transform: scale(1.2);
      }
    }
  }
}
