photo-gallery {

  .main__slide {
    margin-block-end: var(--layout--gutter);

    &__photo {
      aspect-ratio: 1.5;
      width: 100%;
      object-fit: contain;
      object-position: center bottom;
      margin-block: var(--layout--gutter);
    }
  }

  .thumb__slide {
    overflow: hidden;
    transition: opacity 200ms linear;
    opacity: 0.65;

    &__photo {
      aspect-ratio: 1 / 1;
      width: 100%;
      object-fit: cover;
      object-position: center;
      transition: transform 200ms var(--animate--ease);
    }

    &.is-active {
      opacity: 1;
      padding: 3px;
    }

    &:hover {
      opacity: 1;

      &:not(.is-active) .thumb__slide__photo {
        transform: scale(1.2);
      }
    }
  }

  .button-menu {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: var(--layout--gutter-xl);
    row-gap: var(--layout--gutter);
    padding-inline: 7px;

    button {
      &:nth-of-type(2) {
        order: 2;

        @media screen and (min-width: 768px) {
          order: 3;
        }
      }
    }

    a {
      display: block;
      width: 100%;
      margin-inline: auto;
      order: 3;

      @media screen and (min-width: 768px) {
        display: inline-block;
        width: auto;
        order: 2;
      }
    }
  }
}
