.reception-details {
  padding-top: 60px;

  p {
    max-width: 1000px;
    margin-inline: auto;
    font-size: clamp(0.9rem, 0.5rem + 2vw, 1.5rem);
    padding: 0 var(--layout--gutter-2x);

    a {
      text-decoration: underline;
      text-decoration-thickness: 2px;
      text-underline-offset: 3px;

      &:hover {
        text-decoration: none;
      }
    }
  }

  .location-time {
    max-width: none;
    white-space: nowrap;
    border-bottom: var(--color--text) 3px solid;
    margin: 0 30px;
    padding: 1rem 0px;
  }

  figure {
    max-width: min(100%, 500px);
    height: auto;
    margin-inline: auto;
    padding: 0 var(--layout--gutter-2x);
  }
}
