.reception-details {
  padding: var(--layout--gutter-xl) 0;

  .location-time {
    margin: 0 auto;
    white-space: nowrap;

    &--sm {
      text-transform: uppercase;
      font-size: 0.8rem;
      padding-top: 10px;
      padding-bottom: 7px;

      a {
        text-decoration: none;
      }
    }

    &:not(.location-time--sm) {
      font-size: var(--text--font-sm);

      &.script {
        padding: 10px 0px 12px;

        @media screen and (min-width: 768px) {
          font-size: 3.5rem;
        }
      }

      &.serif {
        padding: 20px 0px 18px;

        @media screen and (min-width: 768px) {
          font-size: 2rem;
        }
      }
    }
  }

  figure {
    max-width: min(100%, 500px);
    height: auto;
    margin-inline: auto;
    padding: 0 var(--layout--gutter-2x);
  }
}
