.reception-details {
  padding-top: 60px;

  p {
    max-width: 1000px;
    margin-inline: auto;
    font-size: var(--text--font-lg);
    padding: 0 var(--layout--gutter-2x);

    &.location-time {
      max-width: none;
      white-space: nowrap;
      border-bottom: var(--color--text) 3px solid;
      margin: 0 var(--layout--gutter-xl);

      &--sm {
        text-transform: uppercase;
        font-size: 0.8rem;
        padding-top: 10px;
        padding-bottom: 7px;
      }

      &:not(.location-time--sm) {
        &.script {
          padding: 10px 0px;
          font-size: var(--text--font-sm);

          @media screen and (min-width: 768px) {
            font-size: 3.5rem;
          }
        }

        &.serif {
          padding: 20px 0px;
          font-size: var(--text--font-sm);

          @media screen and (min-width: 768px) {
            font-size: 2rem;
          }
        }
      }
    }

    a {
      text-decoration: underline;
      text-decoration-thickness: 2px;
      text-underline-offset: 3px;

      &:hover {
        text-decoration: none;
      }
    }
  }

  figure {
    max-width: min(100%, 500px);
    height: auto;
    margin-inline: auto;
    padding: 0 var(--layout--gutter-2x);
  }
}
