.rsvp {
  padding-top: 60px;

  p {
    max-width: 1000px;
    margin-inline: auto;
    font-size: var(--text--font-lg);

    a {
      text-decoration: underline;
      text-decoration-thickness: 2px;
      text-underline-offset: 3px;

      &:hover {
        text-decoration: none;
      }
    }
  }
}
