@use "./base/html";
@use "./base/layout";
@use "./base/typography";
@use "./base/utilities";

:root {
  --animate--ease: cubic-bezier(0.19, 1, 0.22, 1);
  --color--primary: #fbf3ea;
  --color--text: #151413;
  --layout--border-width-xs: 2px;
  --layout--border-width-sm: 3px;
  --layout--border-width: 8px;
  --layout--container: 1000px;
  --layout--container-xl: 1180px;
  --layout--gutter: 12px;
  --layout--gutter-lg: 24px;
  --layout--gutter-xl: 36px;
  --layout--nav-height: 50px;
  --layout--scroll-offset: 33px;
  --text--font-sm: 0.8rem;
  --text--font-md: clamp(0.9rem, 0.565vw + 0.776rem, 1.2rem);
  --text--font-base: clamp(0.9rem, 1.129vw + 0.653rem, 1.5rem);
  --text--font-lg: 1.5rem;
  --text--font-xl: clamp(1.25rem, 1.25rem + 2.5vw, 2.5rem);
}
