---
import Layout from '../layouts/Layout.astro';

const title = "Karly and JT's 10 Year Anniversary";
---

<Layout title={title}>
	<h2>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Velit blanditiis cum voluptatem quis dolor numquam, natus illum non assumenda, quidem animi nam nisi provident officia nulla corrupti obcaecati veniam dolorum.</h2>
</Layout>