---
import '../styles/components/faqs.scss';
---

<section class="faqs">
  <h2 class="headline">FAQS</h2>
  <p>[Frequently Asked Questions]</p>

  <details>
    <summary>Is Karly pregnant?</summary>
    <p>No, but thanks for asking!</p>
    <p>It wasn't until a recent trip to San Luis Obispo that sparked the idea to get married on a date that was extremely meaningful to us.</p>
  </details>

  <!-- <details>
    <summary>Will there be food and drinks?</summary>
    <p>Yes! There will be plenty of food and drinks available throughout the day.</p>
  </details>

  <details>
    <summary>Can I bring a plus one?</summary>
    <p>Yes, you are welcome to bring a plus one! Just let us know in your RSVP.</p>
  </details> -->
</section>