---
import '../styles/components/hero.scss';
---

<section class="hero">
  <h2>
    <span class="script text text--jt">JT</span>
    <span class="serif text text--and">and</span>
    <span class="script text text--karly">Karly</span>
    <span class="serif text text--married">
      <em>are getting married!</em>
    </span>
  </h2>
</section>