---
import '../styles/components/hero.scss';
---

<section class="hero">
  <h2 aria-label="Karly and JT are getting married!">
    <span class="script text text--jt">JT</span>
    <span class="text text--and">and</span>
    <span class="script text text--karly">Karly</span>

    <span class="text text--married">are getting married!</span>
  </h2>
</section>