---
import '../styles/components/intro.scss';
---

<section class="intro">
  <p>
    Thursday, <span class="script">December 4th, 2025,</span>
    <br/>on their 10-year anniversary
    <br/><span class="script">JT</span> and <span class="script">Karly</span>
    <br />will tie the knot in an intimate ceremony
    <br/>surrounded by their immediate family
    <br/>at <span class="script">Hotel SLO</span>
  </p>

  <p>
    On Saturday, <span class="script">December 6th, 2025,</span>
    <br />a celebration will be held at <span class="script">3:30pm</span>
    <br />at <span class="script">The Monday Club</span>
  </p>
</section>