---
import { Image } from 'astro:assets';
import hotelSlo from '../assets//hotel-slo.avif';
import mondayClub from '../assets//monday-club.avif';
import '../styles/components/intro.scss';
---

<section id="intro" class="intro intro--wedding">
  <p>
    <span>On Thursday, <span class="script">December 4th, 2025,</span></span>
    <span>their 10-year anniversary,</span>
    <span><span class="script">Karly</span> and <span class="script">JT</span></span>
    <span>will tie the knot in an intimate ceremony</span>
    <span>joined by their immediate family</span>
    <span>at <a class="script no-underline" href="https://hotel-slo.com/dining/high-bar/" target="_blank">Hotel SLO</a></span>
  </p>
  <a
    class="img-wrapper img-wrapper--hotel-slo"
    href="https://hotel-slo.com/dining/high-bar/"
    target="_blank"
  >
    <Image
      class="reveal"
      src={hotelSlo}
      alt="Drone view of Hotel SLO's rooftop with Bishop's Peak and Madonna Mountain in the background."
    />
  </a>
</section>

<section class="intro intro--reception">
  <p>
    <span>On Saturday, <span class="script">December 6th, 2025,</span></span>
    <span>celebrate with us</span>
    <span>at <a class="script no-underline" href="https://themondayclubslo.org/OUR-HISTORY" target="_blank">The Monday Club!</a></span>
  </p>
  <a
    class="img-wrapper img-wrapper--monday-club"
    href="https://themondayclubslo.org/OUR-HISTORY"
    target="_blank"
  >
    <Image
      class="reveal"
      src={mondayClub}
      alt="View of The Monday Club with San Luis Obispo mountain in the background."
    />
  </a>
</section>