---
import { Image } from 'astro:assets';
import barbAndStar from '../assets/barb-and-star.jpg';
import '../styles/components/outro.scss';
---

<section class="outro gutter">
  <h2 class="script">We hope you can <br />make it!</h2>
    <figure>
      <a href="https://www.imdb.com/title/tt3797512/" target="_blank">
        <Image
          class="reveal"
          src={barbAndStar}
          alt="The poster of the movie Barb and Star with JT and Karly's faces photoshopped onto the characters."
        />
      </a>
      <figcaption>Credit: Laura</figcaption>
    </figure>
</section>