---
import { Image } from 'astro:assets';
import barbAndStar from '../assets/barb-and-star.jpg';
import '../styles/components/outro.scss';
---

<section class="outro">
  <h2 class="script">We hope you can make it!</h2>
  <a href="https://youtu.be/3EBwBGTlGFQ?feature=shared&t=11" target="_blank">
    <figure>
      <Image
        src={barbAndStar}
        alt="The poster of the movie Barb and Star with JT and Karly's faces photoshopped onto the characters."
      />
      <figcaption>Credit: Laura</figcaption>
    </figure>
  </a>
</section>