---
import { Image } from 'astro:assets';
import barbAndStar from '../assets/barb-and-star.jpg';
import '../styles/components/outro.scss';
---

<section class="outro gutter">
  <h2 class="script">We hope you can <br />make it!</h2>
  <div class="text-container">
    <figure>
      <a href="https://www.imdb.com/title/tt3797512/" target="_blank">
        <Image
          class="reveal"
          src={barbAndStar}
          widths={[240, 540, 720, barbAndStar.width]}
          sizes={`(max-width: 360px) 240px, (max-width: 720px) 540px, (max-width: 1600px) 720px, ${barbAndStar.width}px`}
          alt="The poster of the movie Barb and Star with JT and Karly's faces photoshopped onto the characters."
        />
      </a>
      <figcaption>Credit: Laura</figcaption>
    </figure>
  </div>
</section>