---
import '../styles/components/reception.scss';
---

<section class="reception">
  <p class="serif">
    On Saturday, <span class="script">December 6th, 2025,</span>
    <br />a celebration will be held at <span class="script">3:30pm</span>
    <br />at <span class="script">The Monday Club</span>
  </p>
</section>