---
import { Image } from 'astro:assets';
import novo from '../assets/novo.avif';
import '../styles/components/reception.scss';
---

<section class="reception-details">
  <h2 class="headline">Reception Details</h2>
  <p><a href="https://themondayclubslo.org/OUR-HISTORY" target="_blank">The Monday Club</a> | 4 p.m. to 10 p.m.</p>

  <p>The reception will begin at 4 o'clock with a cocktail hour on the patio overlooking the San Luis Obispo hills, during which the newlywed couple will have the chance to greet all the guests.</p>

  <p>As the sun sets over the mountains, the reception will move indoors for dinner catered by <a href="https://www.eatpetra.com/" target="_blank">Petra</a>, a local favorite.</p>

  <p>[Something about there will be many activities throughout the evening]</p>
</section>

<section class="reception-details">
  <h2 class="headline">After Party</h2>
  <p><a href="https://www.novorestaurant.com/contact-us" target="_blank">Novo</a> | 10 p.m.</p>

  <p>Since everyone will need to leave the venue by promptly by 10 o'clock, we will have a shuttle service available to take guests a mile down the street to downtown San Luis Obispo where the celebration will continue at Novo (and/or possibly McCarthy's).</p>
  <figure>
    <Image src={novo} alt="Karly and JT dancing at Novo." />
    <figcaption>The couple had their first interaction outside of Boo Boo Records at Novo. Credit: Meghan</figcaption>
  </figure>
</section>

<section class="reception-details">
  <h2 class="headline">Sunday Picnic Brunch</h2>
  <p><a href="https://maps.app.goo.gl/c2sbSw7W5ndc9XoV6" target="_blank">Terrace Hill</a> | 10 a.m.</p>
  <p>[Something about saying goodbye to everyone before leaving if they can]</p>
  <p>*Please note: In order to get up to Terrace Hill, it's a bit of a steep walk on a dirt trail. But, it's absolutely worth the hike. If you can stop by, be sure to wear appropriate shoes, and join us for some beers and <a href="https://www.highstdeli.com/high-st-menus/" target="_blank">High Street Sandwiches</a><br/>(Karly's favorite is the Mother Nature Veg with turkey added).</p>
  <p>[photos taken from the last trip]</p>
</section>