---
import '../styles/components/registry.scss';
---

<section class="registry gutter">
  <h2 class="headline">Registry</h2>
  <div class="text-container font-base">
    <p><strong>Please, no gifts. Your presence is more than enough</strong>.</p>
    <p>Since many of you are traveling to celebrate with us, and on a very short timeline no less, your presence is all that we could ask for. There will be no gift table at the reception.</p>
    <p>If you would really like to contribute, we have a honeymoon fund, but please know it's completely optional.</p><p>We're just grateful to have you there if you can make it!</p>
  </div>
</section>