---
import '../styles/components/registry.scss';
---

<section class="registry gutter">
  <h2 class="headline">Registry</h2>
  <div class="text-container font-base">
    <p><strong>Please, no gifts. Your presence is more than enough</strong>.</p>
    <p>Since many of you are traveling to celebrate with us, your presence is all that we could ask far. There will be no gift table at the reception.</p>
    <p>If you would like to contribute to our honeymoon fund, we would be so grateful, but please know it's completely optional. We're just excited to have you there if you can make it!</p>
    <p>[Button to Food Festival Fund]</p>
  </div>
</section>