---
import '../styles/components/rsvp.scss';
---

<section class="rsvp gutter">
  <h2 class="headline">RSVP</h2>
  <div class="text-container font-base">
    <p>Please RSVP by November 1st, 2025</p>
  </div>
</section>