---

---

<section class="gutter">
  <h2 class="headline">Venue Rules</h2>
  <div class="text-container-xl font-base">
    <p>Please note <strong>ALL GUESTS need to leave The Monday Club by 10 o'clock</strong>. To help us with this, there will be no alcohol served after 9:30 p.m.</p>
    <p><strong>There is also no smoking or vaping allowed on the property</strong>, however, you are welcome to do so on the public sidewalk in front of the venue.</p>
  </div>
</section>