---
import '../styles/layout/footer.scss';

// TODO: blog write up
const aboutDevRoute = "https://github.com/karlyhoffman/karly-and-jt-wedding-party";
// const aboutDevRoute = "/about-the-dev";

---

<footer class="gutter">
  <p>
    Karly coded <a href={aboutDevRoute} target="_blank">this website</a>, so please <a href="mailto:karlyhoffman+wedding@gmail.com" target="_blank">let her know</a> if you encounter any issues!
  </p>
</footer>
