---
import '../styles/layout/footer.scss';
---

<footer>
  <p>Karly coded this website using <a href="https://astro.build/" target="_blank">Astro</a> and <a href="https://developers.notion.com/" target="_blank">Notion</a>. Please let her know if you experience any issues.</p>
</footer>
