---
import '../styles/layout/footer.scss';
---

<footer>
  <p>Please let Karly know if you experience any issues with this website, as <a href="https://github.com/karlyhoffman/karly-and-jt-wedding-party" target="_blank">she built it</a> using <a href="https://astro.build/" target="_blank">Astro</a> and <a href="https://developers.notion.com/" target="_blank">Notion.</a></p>
</footer>
