---
import '../styles/layout/footer.scss';

// TODO: link to blog write-up (/dev)
---

<footer class="gutter">
  <p>
    Karly built this website from scratch, so please <a href="mailto:karlyhoffman+wedding@gmail.com" target="_blank">let her know</a> if you encounter any issues!
  </p>
</footer>
