---
import '../styles/layout/footer.scss';

// TODO: link to blog write-up (/dev)
---

<footer class="gutter">
  <p>
    Please <a href="mailto:karlyhoffman+wedding@gmail.com" target="_blank">let Karly know</a> if you experience any issues with the site! She built it using <a href="https://astro.build/" target="_blank">Astro</a> and <a href="https://nodemailer.com/" target="_blank">Nodemailer</a>.
  </p>
</footer>
