---
import '../styles/layout/footer.scss';
---

<footer>
  <p>If you experience any issues with this website, please let Karly know, as she built it with <a href="https://github.com/karlyhoffman/karly-and-jt-wedding-party" target="_blank">Astro and Notion.</a></p>
</footer>
