---
import '../styles/layout/navigation.scss';

---

<nav>
  <ul class="gutter" role="list">
    <li><a href="#intro">Intro</a></li>
    <li><a href="#details">Details</a></li>
    <li><a href="#rsvp">RSVP</a></li>
    <li><a href="#faqs">FAQs</a></li>
  </ul>
</nav>
