*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 24px;
  width: 100%;
  max-width: 100vw;
  overflow-x: clip;
  scroll-behavior: smooth;
}

body {
  position: relative;
  background-color: var(--color--primary);
  color: var(--color--text);
  text-align: center;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: var(--layout--gutter);
}

img,
svg {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

p {
  text-wrap: balance;
}

p a {
  font-weight: 500;
}

a {
  &:not(:has(img)) {
    display: inline-block;
    position: relative;
    color: inherit;
    text-decoration: none;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 80%;
      left: 0;
      right: 0;
      height: var(--layout--border-width-xs);
      background-color: var(--color--text);
      transition: top 200ms var(--animate--ease);
    }

    &:hover::after {
      top: calc(80% + 4px);
    }

    &.no-underline {
      transition: opacity 400ms var(--animate--ease);

      &::before,
      &::after {
        display: none;
      }

      &:hover {
        opacity: 0.5;
      }
    }
  }
}

fieldset {
  width: 100%;
  text-align: left;
  border-color: var(--color--text);

  p {
    font-size: var(--text--font-md);
  }
}

input,
select {
  background-color: var(--color--primary);
  color: var(--color--text);
  border: var(--layout--border-width-xs) solid var(--color--text);
  border-radius: 0px;
  font-family: inherit;
  font-size: var(--text--font-md);
  padding: 12px 15px 9px;

  @media screen and (min-width: 768px) {
    font-size: 95%;
    padding: 7px 15px 3px;
  }

  &:focus-visible,
  &:focus-within {
    outline-offset: 1.5px;
    outline: var(--layout--border-width-xs) solid var(--color--text);
  }

  &[type="radio"] {
    accent-color: var(--color--text); 
    outline: transparent;
  }
}

textarea,
fieldset input[type="text"],
fieldset input[type="email"] {
  display: block;
  width: 100%;
  background-color: var(--color--primary);
  color: var(--color--text);
  border: 1px solid var(--color--text);
  border-radius: 0px;
  outline: none;
  font-family: inherit;
  font-size: var(--text--font-sm);
  margin-top: 15px;
  padding: 12px 15px 9px;
}

.btn {
  position: relative;
  background-color: var(--color--primary);
  color: var(--color--text);
  border: var(--layout--border-width-sm) solid var(--color--text);
  border-radius: 0px;
  font-family: "Old Standard TT Regular", serif;
  font-size: var(--text--font-md);
  line-height: 1;
  text-transform: uppercase;
  padding: 14px 23px 9px;
  cursor: pointer;

  &:hover::after {
    top: calc(var(--layout--border-width-sm) * -3);
    left: calc(var(--layout--border-width-sm) * -3);
    right: calc(var(--layout--border-width-sm) * -3);
    bottom: calc(var(--layout--border-width-sm) * -3);
  }

  &::after {
    content: "";
    position: absolute;
    top: calc(var(--layout--border-width-sm) * -1);
    left: calc(var(--layout--border-width-sm) * -1);
    right: calc(var(--layout--border-width-sm) * -1);
    bottom: calc(var(--layout--border-width-sm) * -1);
    border: var(--layout--border-width-sm) solid var(--color--text);
    transition: all 300ms var(--animate--ease);
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.6;

    &::after {
      display: none;
    }
  }
}

figure {
  margin-inline: auto;
}

figcaption {
  font-family: "Old Standard TT Regular", serif;
  font-size: 0.55rem;
  letter-spacing: -0.01em;
  text-align: left;
  text-transform: uppercase;
  margin-block-end: 0;
  padding-block-start: 5px;
  padding-block-end: 0;

  &:empty {
    display: none;
  }

  a {
    &::before,
    &::after {
      height: 1px;
    }

    &:hover::after {
      top: calc(80% + 2px);
    }
  }
}
