*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 24px;
  width: 100%;
  max-width: 100vw;
  overflow-x: clip;
}

body {
  position: relative;
  background-color: var(--color--primary);
  color: var(--color--text);
  text-align: center;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: var(--layout--gutter);
}

figure {
  margin-inline: auto;
}

figcaption {
  font-family: "Old Standard TT Regular", serif;
  font-size: 0.55rem;
  letter-spacing: -0.01em;
  text-align: left;
  text-transform: uppercase;
  margin-block-end: 0;
  padding-block-start: 5px;
  padding-block-end: 0;

  &:empty {
    display: none;
  }
}

img,
svg {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

p {
  text-wrap: balance;
}

p a {
  font-weight: bold;
}

a {
  display: inline-block;
  position: relative;
  color: inherit;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 2px;

  &:hover {
    text-decoration: none;
  }

  &.no-underline {
    text-decoration: none;
    transition: opacity 400ms var(--animate--ease);

    &:hover {
      opacity: 0.5;
    }
  }
}
