.gutter {
  margin-inline: var(--layout--gutter-lg);

  @media screen and (min-width: 768px) {
    margin-inline: var(--layout--gutter-xl);
  }
}

.headline {
  border-top: var(--color--text) var(--layout--border-width) double;
  border-bottom: var(--color--text) var(--layout--border-width) double;
  font-size: var(--text--font-xl);
  text-transform: uppercase;
  margin: 0 auto;
  padding: 27px 0 20px;
}

.text-container {
  max-width: var(--layout--container);
  margin-inline: auto;
}
