.gutter {
  margin-inline: var(--layout--gutter-lg);

  @media screen and (min-width: 768px) {
    margin-inline: var(--layout--gutter-xl);
  }
}

.border {
  $border-hide: calc(-2.25 * var(--layout--gutter));

  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  // Temp:
  // bottom: $border-hide;
  bottom: 0;

  border: var(--color--primary) var(--layout--gutter-lg) solid;
  pointer-events: none;

  &--show-nav {
    // The navbar will have the background color
    top: 80px;
  }

  &--show-footer {
    top: $border-hide;
    bottom: 0;
  }

  &::before {
    content: "";
    position: absolute;
    top: calc(-1 * var(--layout--gutter));
    left: calc(-1 * var(--layout--gutter));
    right: calc(-1 * var(--layout--gutter));
    bottom: calc(-1 * var(--layout--gutter));
    border: var(--color--text) 11px double;
    pointer-events: none;
    z-index: -1;

    @media screen and (min-width: 768px) {
      border-width: 15px;
    }
  }

  &-b {
    border-bottom: var(--color--text) var(--layout--border-width-sm) solid;
  }
}

.headline {
  border-top: var(--color--text) var(--layout--border-width) double;
  border-bottom: var(--color--text) var(--layout--border-width) double;
  font-size: var(--text--font-xl);
  text-transform: uppercase;
  margin: 0 auto;
  padding: 27px 0 20px;
}

.text-container {
  max-width: var(--layout--container);
  margin-inline: auto;
}
